@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&family=Heebo:wght@800&family=Jost:wght@400;600&family=Roboto:wght@700&display=swap');
.navbarDiv{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 5% 45% 10% 10% 10% 10% 10% ;
    grid-template-rows: 100%;
    background-color: rgba(20, 20, 20,0.9);
    font-family: 'Heebo', sans-serif;

}
.navDiv{
    width: 100%;
    height: 100%;
    font-size: 1.6vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}
.navDiv:hover{
    color: #4893c2;
}
.logodiv{
    width: 90%;
    height: 90%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itsmeimg{
    width: 70%;
    height: 60%;
    border-radius: 50%;
    cursor: pointer;
}
.itsmeimg:hover{
    width: 80%;
    height: 70%;
}
.logodiv
{
/* position: absolute;
top: 50%;
left: 50%; */
/* transform: translate(-50%,-50%); */
}
/* .logodiv img
{
/* font-size: 100px;
color: #f06262;  */
/* animation: love 2s infinite ease;
}
@keyframes love
{
	from{transform: scale(1);}10%{transform: scale(1.2);}
} */ 
.link {
    position: relative;
    text-decoration: none;
    opacity: .8;
  }
  
  .link::after {
    content: '';
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .link:is(:hover, :focus) {
    opacity: 1;
  }
  .link:is(:hover, :focus)::after {
    opacity: 1;
    transform: translateY(4px);
  }